# This file defines the code owners for the IRIS repository.
# Code owners will be automatically requested for review when a PR touches their code.

*       @mdfarhangamer001-art

/docs/                      @mdfarhangamer001-art
README.md                   @mdfarhangamer001-art
CONTRIBUTING.md             @mdfarhangamer001-art
SUPPORT.md                  @mdfarhangamer001-art

SECURITY.md                 @mdfarhangamer001-art
electron-builder.yml        @mdfarhangamer001-art

/src/main/                  @mdfarhangamer001-art
/src/preload/               @mdfarhangamer001-art

/src/renderer/              @mdfarhangamer001-art
